    <button id="btnGet" style="display : block">Get</button>
    <button id="btnPost" style="display : block">Post</button>
    <button id="btnDelete" style="display : block">Delete</button>
    <button id="btnPut" style="display : block">Put</button>
    <textarea id="textArea" style="display : block"></textarea>